/* styles.css */
body {
    background-color: #d1e8e2; /* Light blue background */
    font-family: 'Arial', sans-serif; /* Sans-serif font */
    color: #003366; /* Dark blue text color */
  }
  
  table {
    width: 70%;
    margin: auto;
    background-color: #cce5ff; /* Medium blue table background */
    border: 2px solid #003366; /* Dark blue border */
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  td, th {
    border: 2px solid #003366; /* Dark blue border for table cells */
    padding: 8px;
    text-align: center;
  }
  
  input[type="text"], input[type="button"] {
    padding: 8px;
    margin: 4px;
    border: 1px solid #003366; /* Dark blue border for input elements */
    background-color: #cce5ff; /* Medium blue background for input elements */
  }
  
  input[type="button"] {
    background-color: #003366; /* Dark blue background for the Calculate button */
    color: #ffffff; /* White text color for the Calculate button */
    cursor: pointer;
  }