body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #FFFDFE;
    color: #565254;
}

header img { 
    max-width: 250px; 
    height: auto;
}

header {
    background: linear-gradient(to right, #208AAE, #0D2149);
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #7A7D7D;
    font-weight: bold;
    font-size: 16px;
}

#hero {
    background-color: #FFFBFE;
    padding: 100px 0;
}

#hero h2 {
    color: #7A7D7D;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #7A7D7D;
    color: #FFFDFE;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #565254;
}

.container {
    text-align: center;
}

#how-it-works ol { 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    text-align: left;
}

#signup,
#how-it-works,
#hero,
#birthchart,
#contact {
    padding: 30px 0;
    background-color: #FFFBFE;
}

#signup h2,
#how-it-works h2,
#testimonials h2,
#contact h2 {
    color: #7A7D7D;
}

.feature {
    margin-bottom: 40px;
}

#contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contactForm input,
#contactForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

#contactForm button {
    background-color: #7A7D7D;
    color: #FFFDFE;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#contactForm button:hover {
    background-color: #565254;
}

#hover-images {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1000;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#hover-images img {
    max-width: 100px;
    height: auto;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.container:hover #hover-images img {
    opacity: 1;
}