body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #605856;
    color: #565254;

}

header img {
    max-width: 250px;
    height: auto;
}

header {
    background: linear-gradient(to right, #208AAE, #0D2149);
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #7A7D7D;
    font-weight: bold;
    font-size: 16px;
}

#how-it-works {
    padding: 30px 0;
    background: linear-gradient(to right, #42F2F7, #0D2149);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.how-it-works-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Merriweather', serif;

}

.image-container img {
    max-width: 50%;
    height: auto;
    float: right;
}

.text-content {
    max-width: 600px;
    margin-left: 500px;
    text-align: center;
}

#how-it-works ol {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

#hero h2,
#signup h2,
#how-it-works h1 {
    color: #454141;
}

.feature {
    margin-bottom: 40px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #FFFDFE;
    color: #FFFDFE;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #565254;
}

.buttons-container { 
    display: flex; 
    justify-content: flex-start;
    width: 100%;
}

#signupBtn, 
#loginBtn { 
    margin-right: 10px;
    margin-left: 0;
}